## gitignore file 

# Python bytecode files and cache directories
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
venv/
.venv/

# Conda
.conda/
.condarc

# IDE / OS noise
.DS_Store
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db